DATABASE_URL='...'
DIRECT_URL="..."
LOG_LEVEL='info'

GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
GOOGLE_CALLBACK_URL="/api/v1/auth/google/callback"
FRONTEND_REDIRECT_PATH="/login"

JWT_SECRET="..."
SESSION_SECRET="..."

CLIENT_URL="https://yourdomain.com"
COUNCIL_CLIENT_URL="https://yourdomain.com/council"
FACULTY_CLIENT_URL="https://yourdomain.com/dean"
SERVER_URL="https://yourdomain.com"

AT_EXPIRATION="5h"
RT_EXPIRATION="7d"

EMAIL_USER="..."
EMAIL_PASS="..."
