DATABASE_URL="..."
DIRECT_URL="..."
LOG_LEVEL='debug'

GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
GOOGLE_CALLBACK_URL="/api/v1/auth/google/callback"
FRONTEND_REDIRECT_PATH = "/login"

JWT_SECRET="..."

CLIENT_URL="http://localhost:5173"
FACULTY_CLIENT_URL="http://localhost:5173"
COUNCIL_CLIENT_URL="http://localhost:5173"
SERVER_URL="http://localhost:8000"

AT_EXPIRATION="5h"
RT_EXPIRATION="7d"
